<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun Facts</title>
    <link rel="stylesheet" href="funfacts.css">
</head>
<body>
    <div class="centered-content">
        <h1>Did You Know?</h1>
        <p id="fact"></p>
    </div>

    <script src="funfacts.js"></script>
</body>
</html>