<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games Page</title>
    <link rel="stylesheet" href="/gameSelection.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">GameHub</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/games">About</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>Select a Game</h1>
        <div class="game-options">
            <div class="game-card">
                <div class="game-image" style="background-image: url('https://media.istockphoto.com/id/1186471922/photo/trial-hammer-and-balance.jpg?s=612x612&w=0&k=20&c=S0tI4wu5dEPKGU6lftoXV1AQfgrVmjZNHOd1bml-THc=');"></div>
                <div class="game-info">
                    <h2>Play Quiz</h2>
                    <p>Test your knowledge with our quiz game.</p>
                    <a href="/quiz" class="btn">Play Now</a>
                </div>
            </div>
            <div class="game-card">
                <div class="game-image" style="background-image: url('https://media.istockphoto.com/id/1349203131/photo/modern-golden-red-and-black-fortune-wheel-3d-illustration.jpg?s=612x612&w=0&k=20&c=39l1NEqHqeaMfJqWzH299e73JIgLh-1yVqikvAb48j4=');"></div>
                <div class="game-info">
                    <h2>Play Spin</h2>
                    <p>Try your luck with our spin game.</p>
                    <a href="/spin" class="btn">Play Now</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>