
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Category Rights - NyaYantra</title>
    <link rel="stylesheet" href="/rights.css">
</head>
<body>
    <!-- Rights Categories Container -->
    <div class="rights-container">
        <div class="right-category">
            <a href="/rights/fundamental-rights">Fundamental Rights</a>
        </div>
        <div class="right-category">
            <a href="/rights/legal-rights">Legal Rights</a>
        </div>
        <div class="right-category">
            <a href="/rights/womens-rights">Women's Rights</a>
        </div>
        <div class="right-category">
            <a href="/rights/childrens-rights">Children's Rights</a>
        </div>
        <div class="right-category">
            <a href="/rights/disabilities-rights">Rights for Persons with Disabilities</a>
        </div>
        <div class="right-category">
            <a href="/rights/environmental-rights">Environmental Rights</a>
        </div>
        <div class="right-category">
            <a href="/rights/consumer-rights">Consumer Rights</a>
        </div>
        <div class="right-category">
            <a href="/rights/land-property-rights">Land and Property Rights</a>
        </div>
        <div class="right-category">
            <a href="/rights/animal-rights">Animal Rights</a>
        </div>
        <div class="right-category">
            <a href="/rights/refugee-migrant-rights">Refugees and Migrant Rights</a>
        </div>
        <div class="right-category">
            <a href="/rights/healthcare-rights">Healthcare Rights</a>
        </div>
        <div class="right-category">
            <a href="/rights/backward-rights">Rights for Backward Classes</a>
        </div>
    </div>
    <div style="text-align: center; margin-top: 20px;"></div>
       <center> <button 
          onclick="window.location.href='/'" 
          style="
            padding: 15px 30px; 
            background-color: rgba(151, 62, 83, 0.9); 
            color: white; 
            border: none; 
            border-radius: 5px; 
            font-size: 20px; 
            cursor: pointer;">
          Back to Home
        </button></center>
      </div>
</body>
</html>